body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB
}

.hero, .footer {
    background-color: #1F2939;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-button {
    padding: 8px 16px;
    min-width: max-content;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    border-width: 0;
}

.hero {
    display: flex;
    flex-direction: column;
}

.header, .footer {
    padding-top: 8px;
    padding-bottom: 8px;
    flex: 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 16px;
}

.header>.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header>ul {
    display: flex;
    gap: 16px;
}

.greeting {
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.greeting>.container {
    box-sizing: border-box;
    width: 400px;
    
    margin-right: 24px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.greeting>.container>h1, .greeting>.container>p {
    margin: 0;
}

.greeting>.container>h1 {
    font-size: 48px;
    font-weight: extra bold;
    color: #F9FAF8;
}

.sign-up-button {
    margin-top: 8px;
}

.image-container {
    background-color: lightgray;
    box-sizing: border-box;
    width: 400px;
    height: 150px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}




.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info>h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.card {
    margin: 0;
    max-width: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card>img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 16px;
    border: 2px solid #3882F6;
}

.card>figcaption {
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    box-sizing: border-box;
    width: 100%;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;

    box-sizing: border-box;
    max-width: 600px;
    margin: 0 0 8px 0;
}

.quote-author {
    color: #1f2937;
    font-size: 18px;
    font-weight: bold;
}

.sign-up-block {
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 32px;
    border-radius: 16px;
    box-sizing: border-box;
    max-width: 800px;
    background-color: #3882F6;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
}

.sign-up-block * {
    margin: 0;
}

.left-items {
    margin: 0;
}

.left-items>h3 {
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
}

.sign-up-block>button {
    margin-left: 64px;
    border-color: #F9FAF8;
    border-style: solid;
    border-width: 2px;
}

.footer {
    color: #F9FAF8;
}

/* make central content same width */